body {
    margin: 0;
}
/*Menu de navegação*/
.cabecalho {
    position: relative;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);  top: 0;
    width: 100%;
    background-color: white;
}
.logo-projeto {
    margin: 0;
}
.logo {
    display: inline-block;
    margin: auto;
    width: 100px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 70px;
    padding-right: 20px;
}
span {
    display: inline;
}
.menu-navegacao {
    position: absolute;
    width: auto;
    padding: 0;
    float: right;
    right: 130px;
    top: 0;
}
.nome-projeto {
    position: relative;
    display: inline-block;
    line-height: 40px;
}
.descricao-projeto {
    font-size: 3.15rem;
    font-family: 'Tajawal', serif;
}
#sudescricao-projeto {
    font-family: 'Tajawal', serif;
    font-size: 2rem;
    line-height: 40px;
}
#sudescricao-projeto::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
}

@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.cabecalhoLink {
    text-decoration: none;
    line-height: 170px;
    padding: 0 5px 0 5px;
    font-family: 'Tajawal', serif;
    letter-spacing: 0.1rem;
    color: #142A3B;
}
.lista-menu-pricipal {
    padding: 0;
    display: inline-block;
    margin: 0;
    border-left: 1px solid #142a3b21;
    border-right: 1px solid #142a3b21;
}
.lista-menu {
    text-align: center;
    display: inline-flex;
    width: auto;
    height: 160px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
}
.lista-menu:hover {
    transition: .3s;
    text-decoration: underline;
    background-color: rgba(20, 42, 59, 0.04);
}