body {
    margin: 0;
}
/*Menu de navegação*/
.cabecalho {
    position: relative;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
}
.logo-projeto {
    margin: 0;
}
.logo {
    display: inline-block;
    margin: auto;
    width: 100px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 70px;
    padding-right: 20px;
}
span {
    display: inline;
}
.menu-navegacao {
    position: absolute;
    width: auto;
    padding: 0;
    float: right;
    right: 130px;
    top: 0;
}
.nome-projeto {
    position: relative;
    display: inline-block;
    line-height: 40px;
}
.descricao-projeto {
    font-size: 3.15rem;
    font-family: oswald;
}
.sudescricao-projeto {
    font-family: Markazi Text;
    font-size: 2.25rem;
    line-height: 40px;
}
a {
    text-decoration: none;
    line-height: 170px;
    padding: 0 5px 0 5px;
    font-family: oswald;
    letter-spacing: 0.1rem;
    color: rgba(65, 65, 65, 0.856)
}
.lista-menu-pricipal {
    padding: 0;
    display: inline-block;
    margin: 0;
    
}
.lista-menu {
    text-align: center;
    display: inline-flex;
    width: auto;
    height: 160px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
}
.lista-menu:hover {
    transition: .4s;
    text-decoration: underline;
    color: dimgray;
    background-color: rgba(161, 161, 161, 0.466);
}