.principal{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
    
}
.titulo-artigo-principal {
    font-size: 4.5rem;
    text-align: center;
    margin: 5% auto auto 5%;
    color: aliceblue;
}
.copa{
    background-image: url(../img/copa.png);
}
.junino{
    background-image: url(../img/festejo-junino.png);
}
.idoso{
    background-image: url(.../img/idoso.png);
}
.christi{
    background-image: url(../img/cristi.png);
}
.adocao{
    background-image: url(../img/adocao.png);
}
.transito{
    background-image: url(../img/transito.png);
}
.viroses{
    background-image: url(../img/virose.png);
}
.mae{
    background-image: url(../img/mae.png);
}
.suicidio{
    background-image: url(../img/suicidi.png); 
}
.eletrica{
    background-image: url(../img/electricity.png); 
}
.cultura-carimbo{
    background-image: url(../img/carimbo.png); 
}
.assedio-moral{
    background-image: url(../img/assedio-moral.png); 
}
.fakenews{
    background-image: url(../img/fakenews.png); 
}
.setembro-vermelho{
    background-image: url(../img/setembro-vermelho.png); 
}
.pessoas-deficiencia{
    background-image: url(../img/dia-nacional-de-pessoas-com-deficencia.png); 
}
.eleicao{
    background-image: url(../img/eleicoes-2018.png); 
}
/*faltam imagens*/
.cirio-2018{
    background-image: url(../img/); 
}
.outubro-rosa{
    background-image: url(../img/); 
}
.orientacoes-enem{
    background-image: url(../img/); 
}
.redacao-enem{
    background-image: url(../img/); 
}
.novembro-azul{
    background-image: url(../img/); 
}
.sedentarismo{
    background-image: url(../img/); 
}
/*faltam imagens*/
.malaria{
    background-image: url(../img/malaria.png);
}
.data-publicacao {
    /* margin-right: 50px; */
    float: right;
    background-color: aliceblue;
    color: rgb(145, 145, 145);
}
.subtitulo-artigo-principal {
    font-size: 2.2rem;
    margin-bottom: 0;
    color: rgb(65, 65, 65);
    font-family: 'Tajawal', serif;
}
.paragrafo {
    color: rgb(65, 65, 65);
    text-align: justify;
    font-family: 'Tajawal', serif;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}