.principal{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
    
}

.titulo-artigo-principal {
    font-size: 4.5rem;
    text-align: center;
    margin: 5% auto auto 5%;
    color: aliceblue;
}
.copa{
    background-image: url(../posts/img-posts/copa.png);
}
.junino{
    background-image: url(../posts/img-posts/foto-festejo-junino.png);
}
.idoso{
    background-image: url(../posts/img-posts/idoso.png);
}
.christi{
    background-image: url(../posts/img-posts/cristi.png);
}
.adocao{
    background-image: url(../posts/img-posts/adocao.png);
}
.transito{
    background-image: url(../posts/img-posts/transito.png);
}
.viroses{
    background-image: url(../posts/img-posts/virose.png);
}
.mae{
    background-image: url(../posts/img-posts/mae.png);
}
.suicidio{
    background-image: url(../posts/img-posts/suicidi.png); 
}
.data-publicacao {
    /* margin-right: 50px; */
    float: right;
    background-color: aliceblue;
    color: rgb(145, 145, 145);
}
.subtitulo-artigo-principal {
    font-size: 2.2rem;
    margin-bottom: 0;
    color: rgb(65, 65, 65);
    font-family: Markazi Text;
}
.paragrafo {
    color: rgb(65, 65, 65);
    text-align: justify;
    font-family: Markazi Text;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}