main{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
    
}
.artigo-da-semana {
    width: 100%;
    font-family: oswald;
    height: 550px;
    background-image: url(../posts/img-posts/suicidio.png);
    background-size: cover;
    margin-top: 1rem;
}
.artigo-principal {
    margin-top: 3.75em;
    float: left;
    bottom: 20px;
    border: .5em solid azure;
    margin-left: 3rem;
}
.titulo-artigo-principalIndex {
    font-size: 4.5rem;
    bottom: 0;
    text-align: center;
    margin: auto auto auto 5%;
    color: aliceblue;
}
.data-publicacaoIndex {
    padding-right: 0;
    margin-right: 139px;
    float: right;
    background-color: azure;
    color: rgb(95, 95, 95);
}
.trechoPrincipal {
    margin: 10px auto 10px auto;
}
.subtitulo-artigo-principalIndex {
    font-size: 2.2rem;
    margin: auto auto auto 5%;
    color: #f0f8ff;
}
.paragrafo {
    margin: auto auto auto auto;
    width: 800px;
    font-size: 1.4rem;
    letter-spacing: .04rem;
    color: rgb(95, 95, 95);
    background-color: azure;
    padding: 3px;
    
}
.ler-mais {
    margin: auto auto 1rem 5%;
    cursor: pointer;
    letter-spacing: .1rem;
}
.ler-mais a {
    line-height: 20px;
    color: aliceblue;
}

.listaDeArtigos{
    display: table;
    margin: auto;
}
.box{
    border: 1px solid rgb(179, 175, 175);
    height: 480px;
    width: 336px;
    display: table-cell;
    float: left;
    margin-bottom: 30px;
    background: #F0FFFF; 
    margin-right: 23px;   
}


.titulo{
    font-family: oswald;
    font-weight: bolder;
    margin: 8px 0 8px 0;
    letter-spacing: .04rem;
    padding-left: 2rem; 
}
.imgDoArtigo{
    width: 100%;
}
.previaArtigo{
    font-family: "Markazi Text";
    font-size: 1.4rem;
    text-align: justify;
    margin: 10px 5px 10px 5px;
    color: rgb(65, 65, 65);  
}
.linkPost{
    text-decoration: none;
    cursor: pointer;
    color: rgb(65, 65, 65);
}
.dtPub{
    margin: 0 5px 0 5px;
    margin-left:  5px;
    font-family: "Osvald", sans-serif;
    color: #818282;
}
.artRecentes {
    font-family: "Osvald", sans-serif;
    font-size: 2.2rem;
    margin: 30px auto 30px auto;    
    color: #818282;
}
/* .previaArtigoIndex{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
} */