main{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
    
}

.listaDeArtigos{
    display: table;
    margin: auto;
}
.box{
    border: 1px solid rgb(179, 175, 175);
    height: 480px;
    width: 336px;
    display: table-cell;
    float: left;
    margin-bottom: 30px;
    background: #F0FFFF ;
   /*  margin-right: 23px;  */    
}
.box-meio {
    margin: 0px 11px 0 11px;
}

.titulo{
    font-family: 'Tajawal', serif;
    font-weight: bolder;
    margin: 8px 0 8px 0;
    letter-spacing: .04rem;
    padding-left: 2rem; 
}
.imgDoArtigo{
    width: 100%;
}
.previaArtigo{

    font-family: 'Tajawal', serif;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px 5px 10px 5px;
    color: rgb(65, 65, 65);  
}
.linkPost{
    text-decoration: none;
    cursor: pointer;
    color: rgb(65, 65, 65);
}
.dtPub{
    margin: 0 5px 0 5px;
    font-family: 'Tajawal', serif;
    color: #818282;
}
.artRecentes {
    font-family: "Osvald", sans-serif;
    font-size: 2.2rem;
    margin: 30px auto 30px auto;    
    color: #818282;
}