.rodape {
    display: block;
    background-color: rgb(217, 224, 255);
    padding: 3.5rem;
    border-top: 0.5px solid rgba(66, 66, 66, 0.548);
}
.rodape-conteudo {
    display: inline;
    text-align: center;
}
.li-rodape-icon {
    list-style-type: none;
    display: inline-block;
}
.rodape-icon {
    width: 1.7rem;
    margin: auto;
}